# General extensions to ignore
*.RData
*.rdb
*.rdx
*.DS_Store
.Rproj.user
.Rhistory
.Ruserdata
.Rapp.history
*.here
*.Rproj
# Notes cache
notes/*/slides_cache/*

# Temporary holds: Notes
notes-lecture/lec1[0-9]*

# Temporary holds: Problem sets
final/final-class*
final/final-home*
problem-sets/00[4-9]*
problem-sets/NOTES
